<!DOCTYPE html>
<html lang="en" 
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Acceuil ONPG</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icons -->
   <link rel="icon" href="images/fevicon/logoGo.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="css/style.css" />
   <!-- responsive css -->
   <link rel="stylesheet" href="css/responsive.css" />
   <!-- colors css -->
   <link rel="stylesheet" href="css/colors.css" />
   <!-- wow animation css -->
   <link rel="stylesheet" href="css/animate.css" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body id="default_theme" class="home_page1">
   <!-- header -->
   <header class="header header_style1">
      <div class="container">
         <div class="row">
            <div class="col-md-9 col-lg-10">
               <div class="logo"><a href="index.html"><img src="images/logo8.jpeg" width="50px" height="60px" alt="#" /></a></div>
               <div class="main_menu float-right">
                  <div class="menu">
                     <ul class="clearfix">
                        <li class="active" ><a href="index">Acceuil</a></li>
                        <li ><a href="presentation">A propos</a></li>
                        <li><a href="inscriptionO">Inscription</a></li>
                        <li ><a href="forum">Forum</a></li>
                        <li><a href="publication">Publications</a></li>
                        <li ><a href="paiement">Paiement</a></li>
                        <li><a href="membres">Tableau</a></li>
                        
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-lg-2">
			   <div th:if="${connected} == false" class="right_bt"><a class="bt_main" href="login1">Connexion</a> </div>
               <div th:if="${connected} == true" class="right_bt"><a class="bt_main" href="logout">Déconnexion</a> </div>
                       </div>
         </div>
      </div>
   </header>
   <marquee behavior="alternate" height="30" bgcolor ="" >REUINON LE 27 FEVRIER</marquee>
   <section id="banner_parallax" class="slide_banner1">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="full">
                  <div class="slide_cont">
                     <h2>Bienvenue sur le site de l'ordre national des pharmaciens du Gabon </h2>
                  
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="full">
                  <div class="slide_pc_img wow fadeInRight" data-wow-delay="2s" data-wow-duration="2s"> <img
                        src="images/index2.jpeg"  /> </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end header -->
   <!-- section -->
   <section class="layout_padding padding_top_0">
      <div class="container">
         <div class="row margin_bottom_30">
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
               <div class="full">
                  <h3>Le pharmacien : votre expert-conseil en médicament</h3>
                  <p>Le pharmacien est le professionnel de la santé responsable de l’utilisation appropriée des
                     médicaments. La préparation des médicaments est la partie la plus visible de son travail, mais son
                     rôle consiste également à veiller à ce que la thérapie médicamenteuse de ses patients leur permette
                     d’obtenir les meilleurs résultats en fonction d’objectifs établis.</p>
               </div>
            </div>
            <!-- end featured cont -->
            <!-- featured image -->
            <div class="col-md-6 wow fadeInRight" data-wow-delay="3s" data-wow-duration="2s">
               <div class="full">
                  <div class="center"><img src="images/im1.jpeg" alt="#" /></div>
               </div>
            </div>
            <!-- end featured image -->
         </div>
         <div class="row margin_bottom_30">
            <!-- featured image -->
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="3.5s" data-wow-duration="3.5s">
               <div class="full">
                  <div class="center"><img src="images/im2.jpeg" alt="#" /></div>
               </div>
            </div>
            <!-- end featured image -->
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
               <div class="full">
                  <h3>CONDITION D'EXERCICE</h3>
                  <p> L'exercice des activités liées aux médicaments est assuré exclusivement par les personnes
                     remplissant les conditions suivantes :
                     <li>être titulaire d'un diplôme de Doctorat en pharmacie ou d'un diplôme équivalent agréé ;</li>
                     <li>etre inscrit à l'Ordre National des Pharmaciens du Gabon ;</li>
                     <li> être de nationalité gabonaise ou ressortissant d'un pays lié au Gabon par des accords de
                     réciprocité.</li> 
                     </p>
               </div>
            </div>
            <!-- end featured cont -->
         </div>
         <div class="row margin_bottom_30">
            <!-- featured cont -->
            <div class="col-md-6 cont_theme_blog">
               <div class="full">
                  <h3>LES ATTRIBUTIONS DE L'ORDRE</h3>
                  <p>L'Ordre National des Pharmaciens du Gabon a notamment pour missions : 
						<li>d'assurer le respect des devoirs professionnels ; </li> 
						<li> de défendre l'honneur et l'indépendance de la profession de 
						pharmacien; </li>
						<li> de veiller au maintien des principes de moralité, de probité et 
						de dévouement indispensables à l'exercice de la profession ; </li>
						<li> d’émettre des avis sur les problèmes de santé.</li> 
						                  </p>
               </div>
            </div>
            <!-- end featured cont -->
            <!-- featured image -->
            <div class="col-md-6 wow fadeInRight" data-wow-delay="2" data-wow-duration="2s">
               <div class="full">
                  <div class="center"><img src="images/contrat.jpg" alt="#" /></div>
               </div>
            </div>
            <!-- end featured image -->
         </div>
      </div>
   </section>
   <!-- end section -->
   <!-- section -->
   <!-- end section -->
   <!-- footer -->
   <footer class="footer_style_2">

      <!-- footer bottom -->
      <div class="footer_bottom">
         <p>Dessigned and developed by <strong>html.design</strong></p>
      </div>
   </footer>
   <!-- end footer -->
   <!--=========== js section ===========-->
   <!-- jQuery (necessary for Bootstrap's JavaScript) -->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="js/wow.js"></script>
   <!-- custom js -->
   <script src="js/custom.js"></script>
   <!-- google map js -->
   <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
   <!-- end google map js -->
</body>

</html>