<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Auricle - The Multi-Purpose Responsive HTML5 Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icons -->
   <link rel="icon" href="images/fevicon/fevicon.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="css/style.css" />
   <!-- responsive css -->
   <link rel="stylesheet" href="css/responsive.css" />
   <!-- colors css -->
   <link rel="stylesheet" href="css/colors.css" />
   <!-- wow animation css -->
   <link rel="stylesheet" href="css/animate.css" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body id="default_theme" class="home_page1">
   <!-- header -->
   <header class="header header_style1">
      <div class="container">
         <div class="row">
            <div class="col-md-9 col-lg-10">
               <div class="logo"><a href="index.html"><img src="images/logo_onp.png" width="50px" alt="#" /></a></div>
               <div class="main_menu float-right">
                  <div class="menu">
                     <ul class="clearfix">
                       <li ><a href="index">Acceuil</a></li>
                        <li class= "active"><a href="about.html">A propos</a></li>
                        <li><a href="inscriptionO">Inscription à l'ordre</a></li>
                        <li><a href="forum">Forum</a></li>
                        <li><a href="publication">Publications</a></li>
                        <li><a href="paiement">Paiement</a></li>
                        <li ><a href="membres">Membres</a></li>
                        
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-lg-2">
               <div class="right_bt"><a class="bt_main" href="index.html">Se connecter</a> </div>
            </div>
         </div>
      </div>
   </header>
 
   <!-- end section -->
   <!-- section -->
   <!-- end section -->
   <!-- footer -->
   <footer class="footer_style_2">

      <!-- footer bottom -->
      <div class="footer_bottom">
         <p>Dessigned and developed by <strong>html.design</strong></p>
      </div>
   </footer>
   <!-- end footer -->
   <!--=========== js section ===========-->
   <!-- jQuery (necessary for Bootstrap's JavaScript) -->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="js/wow.js"></script>
   <!-- custom js -->
   <script src="js/custom.js"></script>
   <!-- google map js -->
   <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
   <!-- end google map js -->
</body>

</html>